.navbar-brand {
  list-style-type: none;
  margin: 0;
  padding-right: 1vw;
  font-weight: bold;
}

.container {
  padding-top: 1vw;
  padding-bottom: 0.5vw;
}

.container-1 {
  min-height: 80vh;
}

.inner-container {
  padding-top: 10vh;
}

.card-body {
  margin: 0;
  align-content: center;
}

.form-group {
  padding-bottom: 1em;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 3em;
  text-align: center;
  color: white;
}

label {
  padding-bottom: 1em;
  padding-top: 0.5vw;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  padding-top: 1em;
}

li {
  display: inline;
}

p {
  font-weight: normal;
}

